@model ChangePasswordViewModel
<div class="login-page">
        <div class="ms-content-wrapper ms-auth">
            <div class="ms-auth-container">
                <div class="ms-auth-col">
                    <div class="ms-auth-bg"></div>
                </div>
                <div class="ms-auth-col">
                    <div class="ms-auth-form">
                        <form asp-route="ChangePassword" class="clearfix">
                            <input asp-for="ReturnUrl" type="hidden">
                            <h1>Change Your Password</h1>
                            <p>Please enter your password to continue</p>
                            <p><partial name="_ValidationSummary" /></p>
                            <div class="mb-3">
                                <label asp-for="CurrentPassword">Current Password</label>
                                <div class="input-group">
                                    <input type="password" class="form-control" placeholder="Current Password"
                                           asp-for="CurrentPassword" autofocus>
                                </div>
                                <span asp-validation-for="CurrentPassword" class="text-danger" style="font-size:small;"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Password">Password</label>
                                <div class="input-group">
                                    <input type="password" class="form-control" placeholder="New Password"
                                           asp-for="Password" autofocus>
                                </div>
                                <span asp-validation-for="Password" class="text-danger" style="font-size:small;"></span>
                            </div>
                            <button class="btn btn-primary mt-4 d-block w-100" name="button" value="save">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}