@model ForgotPasswordViewModel
<div class="login-page">
        <div class="ms-content-wrapper ms-auth">
            <div class="ms-auth-container">
                <div class="ms-auth-col">
                    <div class="ms-auth-bg"></div>
                </div>
                <div class="ms-auth-col">
                    <div class="ms-auth-form">
                        <form asp-route="ForgotPassword" class="clearfix">
                            <h1>Forget Your Password?</h1>
                            <p>Please enter your email to continue</p>
                            <div class="mb-3">
                                <label asp-for="Email">Username</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Username Or Email Address"
                                           asp-for="Email" autofocus>
                                </div>
                                <span asp-validation-for="Email" class="text-danger" style="font-size:small;"></span>
                            </div>
                            <button class="btn btn-primary mt-4 d-block w-100" name="button" value="submit">Send</button>
                            <span class="d-block text-center my-4">Or</span>
                            <p class="mb-0 mt-3 text-center">
                                Back to login? <a class="btn-link" asp-action="Login">Login to Account</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}