@model LoginViewModel
<div class="login-page">

    @if (Model.EnableLocalLogin)
    {
        <div class="ms-content-wrapper ms-auth">
            <div class="ms-auth-container">
                <div class="ms-auth-col">
                    <div class="ms-auth-bg"></div>
                </div>
                <div class="ms-auth-col">
                    <div class="ms-auth-form">
                        <form asp-route="Login" class="clearfix">
                            <input type="hidden" asp-for="ReturnUrl" />
                            <h1>Login to Account</h1>
                            <p>Please enter your email and password to continue</p>
                            @if (TempData["success"] != null)
                            {
                                <p class="text-success successMsg">@TempData["success"]</p>
                            }
                            <p><partial name="_ValidationSummary" /></p>
                            <div class="mb-3">
                                <label asp-for="Username">Username</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Username Or Email Address"
                                           asp-for="Username" autofocus>
                                </div>
                            </div>
                            <div class="mb-2">
                                <label asp-for="Password">Password</label>
                                <div class="input-group">
                                    <input type="password" class="form-control" placeholder="Password"
                                           asp-for="Password" autocomplete="off">
                                </div>
                            </div>
                            @if (Model.AllowRememberLogin)
                            {
                                <div class="form-group">
                                    <label class="ms-checkbox-wrap">
                                        <input class="form-check-input" type="checkbox" asp-for="RememberLogin">
                                        <i class="ms-checkbox-check"></i>
                                    </label>
                                    <span asp-for="RememberLogin"> Remember Password </span>
                                    <label class="d-block mt-3">
                                        <a  asp-action="ForgotPassword" class="btn-link">Forgot Password?</a>
                                    </label>
                                </div>
                            }
                            <button class="btn btn-primary mt-4 d-block w-100" name="button" value="login">Sign In</button>
                            <span class="d-block text-center my-4">Or</span>
                            @if (Model.VisibleExternalProviders.Any())
                            {
                                <a asp-controller="External"
                                   asp-action="Challenge"
                                   asp-route-scheme="Google"
                                   asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-sm mt-4 d-block w-100 btn-gradient-warning">
                                    <img src="~/img/others/google.png" class="w-5" alt="image"> <span>Login with Google</span>
                                </a>
                                <a asp-controller="External"
                                   asp-action="Challenge"
                                   asp-route-scheme="Facebook"
                                   asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-sm mt-4 d-block w-100 btn-gradient-primary">
                                    <img src="~/img/others/facebook.png" class="w-5" alt="image"> <span>Login with Facebook</span>
                                </a>
                            }
                            <p class="mb-0 mt-3 text-center">
                                Don't have an account? <a class="btn-link" asp-action="Register" asp-route-returnUrl="Login">Create Account</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }


    @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
    {
        <div class="alert alert-warning">
            <strong>Invalid login request</strong>
            There are no login schemes configured for this request.
        </div>

    }

</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            setTimeout(function () {
                $('.successMsg').hide();
            }, 2000);
        });
    </script>
}