@model ResetPasswordViewModel
<div class="login-page">
        <div class="ms-content-wrapper ms-auth">
            <div class="ms-auth-container">
                <div class="ms-auth-col">
                    <div class="ms-auth-bg"></div>
                </div>
                <div class="ms-auth-col">
                    <div class="ms-auth-form">
                        <form asp-route="ResetPassword" class="clearfix">
                            <input type="hidden" asp-for="ReturnUrl" />
                            <h1>Reset Your Password</h1>
                            <p>Please enter your password to continue</p>
                            <div class="mb-3">
                                <label asp-for="Password">Password</label>
                                <div class="input-group">
                                    <input type="password" class="form-control" placeholder="Password"
                                           asp-for="Password" autofocus>
                                </div>
                                <span asp-validation-for="Password" class="text-danger" style="font-size:small;"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="ConfirmPassword">Confirm Password</label>
                                <div class="input-group">
                                    <input type="password" class="form-control" placeholder="Confirm Password"
                                           asp-for="ConfirmPassword" autofocus>
                                </div>
                                <span asp-validation-for="ConfirmPassword" class="text-danger" style="font-size:small;"></span>
                            </div>
                            <div>
                                <input type="hidden" asp-for="Email">
                                <input type="hidden" asp-for="Token">
                            </div>
                            <button class="btn btn-primary mt-4 d-block w-100" name="button" value="reset">Reset</button>
                            <span class="d-block text-center my-4">Or</span>
                            <p class="mb-0 mt-3 text-center">
                                Back to login? <a class="btn-link" asp-route-returnUrl="@Model.ReturnUrl" asp-action="Login">Login to Account</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}